---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/global/Header.astro';
import Footer from '../components/global/Footer.astro';
import WhatsAppButton from '../components/global/WhatsAppButton.astro';

interface Props {
  title: string;
  description?: string;
  image?: string;
  transparentHeader?: boolean;
}

const { title, description, image, transparentHeader = false } = Astro.props;
---

<BaseLayout title={title} description={description} image={image}>
  <Header transparent={transparentHeader} />
  <main>
    <slot />
  </main>
  <Footer />
  <WhatsAppButton />
</BaseLayout>
